a {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-white);
    text-decoration: none;
    margin-right: 1rem;
}
a:hover {
    color: #F7AE1B;
}
a.btn {
    border: 2px solid var(--color-white);
    border-radius: 5px;
    /*margin-left: 1rem;*/
    font-weight: 500;
    padding: 5px 8px;
}
a.btn-dark {
    border: 2px solid var(--color-white);
    background: transparent;
}
a.btn-yellow {
    border: 2px solid transparent;
    background: #F7AE1B;
    color: var(--color-white);
}